.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVBAR */


.navbar {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-collapse {
  justify-content: flex-end;
  
}

.navbar-nav .nav-link {
  color: #FFA500;
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: green;
}

.dropdown-menu {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  
  font-weight: bold;
  font-size: 14px;
}

.dropdown-item:hover {
  background:linear-gradient(to right, #FFA500, #ff7c60);;
  color: green;
}

.navbar-toggler-icon {
 color: #FFA500 !important;
 filter: invert(1);
}



#basic-nav-dropdown .dropdown-toggle {
  background:#FFA500 linear-gradient(to right, #FFA500, #ff7c60);;
}

.visit-aniene {
  background: linear-gradient(to right, #FFA500, #ff7c60);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}
.custom-dropdown .dropdown-menu {
  background-color: black;
}



/* Jumbotrone */

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  
}

.jumbotron h1 {
  font-size: 1rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

.text-ridotta {
  font-size: 14px;
  color: #FFA500 !important;
  background-image: url('../src/immagini/2.png') !important;
  
}

.text-inferiore {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-style: italic;
  color: rgb(228, 224, 224)
}

.responsive-image {
  width: 80px !important;
  height: 80px !important;
  margin-top: 420px;
}

.my-jumbotron {
  padding: 0;
}

.my-jumbotron .full-width-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 100vw;
  left: 48%;
  
  transform: translateX(-50%);
  height: 100%;
  object-fit: cover;
  padding: 0;
}



.jumbotron-row {
  height: 60vh;
}

.custom-image {
  max-height: 20vh;
  width: auto;
  margin-left: 11rem;
  margin-right: 11rem;
}


.attività{
  background: linear-gradient(to right, #FFA500, #ff7c60);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}


/* CARD */
.card {
  border-radius: 10px;
  border: none !important;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.card-title {
  font-weight: bold;
  margin-top: 10px;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
}

.btn-card {
  background-color: #FFA500;
}

.btn:hover {
  background-color: #218838;
  cursor: pointer;
}

.card:hover {
  transform: perspective(1000px) rotateX(-10deg) scale(1.1);
  z-index: 2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card:not(:hover) {
  opacity: 0.7;
}
.button-prenota {
  background: linear-gradient(
    to bottom right,
    #fdc639, #ff7c60
  ); 
  border-radius: 55px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.button-prenota::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, black(255, 165, 0, 0.5) 0%, transparent 70%);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.button-prenota:hover::before {
  transform: scale(1);
  opacity: 1;
}

.esperienze {
  color: rgb(153, 146, 146);
}



/* footer */

.trip {
height: 100px;
width: 100px;
  margin-left: 190px;
}
/*METEO */
.weather-section {
  background-color: black;
  background-size: cover;
  background-position: center;
 color: white;
}
.input-ricerca{
  background: linear-gradient(
    to bottom right,
    white to rgb(224, 222, 222)
  );
  border: none;
  border-radius: 55px !important;
}
.button-ricerca{
  border: none;
  border-radius: 55px !important;
background-color: #FFA500 !important;
width: 200px;
}
.sfondo-meteo {
  background-image: url('../src/immagini/3.png');
}


/* Sfondo pagine attività */
.my-custom-class {
  
  background-repeat: no-repeat;
  background-position: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  color:  rgb(153, 146, 146);
}






.sfondo {
 
  background: black;
  background-size: cover;
  background-position:  center;
  position: relative;
  z-index: 0;
  

} 




/* FORM PRENOTAZIONE */

Form {
  max-width: 500px; 
  margin: 0 auto; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-prenota {
  background: #FFA500 !important;
  border-radius: 55px !important;
  width: 200px !important;
  position: relative;
  overflow: hidden;
}

.modifica {
  
 
  border-radius: 55px !important;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.btn-cancella{

  
   
  border-radius: 55px !important;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.form-label {
  color: #FFA500;
  font-weight: bold;
}

.btn-dettagli {
  border-radius: 55px !important;
  width: 200px;
  position: relative;
  overflow: hidden;
}